services:
  gui:
    build: .
    working_dir: /app
    volumes:
      - ./:/app
    tty: true
  postgresql:
    image: postgres:15
    ports:
      - 5432:5432
    volumes:
      - ./postgres/init:/docker-entrypoint-initdb.d
    env_file:
      - .env